body{
    font-family: 'Press Start 2P', cursive;
    background-color: red;
    color: black;
}
#player_1{
background-color: aqua;
color: black;
line-height: 2;
}
#player_2{
background-color: aqua;
color: black;
line-height: 2;
}